<div class="container">
	<div class="columns is-multiline">
		<div class="column is-6">
			<div class="card">
				<header class="card-header">
					<p class="card-header-title">Add Category</p>
				</header>
				<div class="card-content">
					<div class="content">
            <div class="field">
							<div class="control">
								<input type="text" class="input is-rounded" placeholder="Category Name" [(ngModel)]="name"/>
							</div>
						</div>
					</div>
				</div>
				<footer class="card-footer">
					<a (click)="addCategory()" class="card-footer-item">Add</a>
				</footer>
			</div>
		</div>

		<div class="column is-6">
      <div class="tags">
        <span class="tag is-link is-medium" *ngFor="let categories of allCategories" (click)="this.crud.detele('categories',categories.id)">
          {{categories.name}}
        </span>
      </div>
		</div>

	</div>
</div>